#ignore the solution (.sln)
*.sln

#ignore the Visual studio temp something (.vs folder)
.vs/

#ignore the logfiles & txtfiles
*.log
*.txt

#ignore the portable version (.pdb)
*.pdb

#ignore packages
packages

#ignore ini files (.ini)
#*.ini

#ignore Release
FlacDownloader/bin/Release/
FlacDownloaderUpdater/bin/Release/

FlacDownloader/obj/Release/
FlacDownloaderUpdater/obj/Release/
#ignore Debug
FlacDownloader/bin/Debug/
FlacDownloaderUpdater/bin/Debug/

FlacDownloader/obj/Debug/
FlacDownloaderUpdater/obj/Debug/